$bgcolour:rgb(235, 235, 235);

*{
    box-sizing: border-box;
}
.body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    text-align: center;
    padding: 20px;
}
.footer{
    background-color:$bgcolour ;
    text-align: center;
    text-shadow: black;
}

.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    padding: 0 4px;
}
.column{
    -ms-flex:25%;
    flex: 25%;
    max-width: 0 4px;
}
.column img{
    margin-top: 8px;
    vertical-align: middle;
    widows: 100px;
}
@media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
}
@media screen and (max-width:600px){
    .column{
        -ms-flex: 100%;
        flex: 100px;
        max-width: 100%;
    }
}