$mycolor : rgb(185, 219, 219);
$bgcolour : grey;
$fntcolur : rgb(43, 71, 97);
$number1: 20px;
$align1 : center;
$font-stack:Helvetica;

.navbar{

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-style: $font-stack;
        background-color: $bgcolour;
    }

    li{
        float: right;
        margin-right: $number1;
    }
    li a{
        display:block;
        column-rule-color: white;
        text-align: $align1;
        padding: 14px $number1;
        text-decoration: none;
    }
    li a:hover{
        background-color: $mycolor;
    }
}